<!DOCTYPE html>
<html >
<head>
    {% include "../common/header.jinja2" %}
    <title>Home</title>
</head>
<body>
{% include "../common/navbar.jinja2" %}

{% include "../common/search_part.jinja2" %}

<section class="features1 cid-rccOuqjc8A" id="features1-2">
    <div class="container">
        <h2 class="mbr-section-title pb-2 mbr-bold mbr-fonts-style align-left display-2">Popular Destinations</h2>
        <h3 class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style align-left display-4">Travel Website Search Template</h3>
        <div class="row row-content justify-content-center">
            <div class="card col-12 col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="{{request.static_url('localguide:static/assets/images/01.jpg')}}" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-5">Tokyo</h4>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="{{request.static_url('localguide:static/assets/images/02.jpg')}}" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-5">Seoul</h4>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="{{request.static_url('localguide:static/assets/images/03.jpg')}}" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-5">Paris</h4>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-lg-3 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img small">
                        <img src="{{request.static_url('localguide:static/assets/images/04.jpg')}}" title="" alt="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mbr-white mbr-bold display-5">London</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="features5 cid-rccOwXBOgC" id="features5-3">
    <div class="container-fluid align-center">
        <div class="row">
            <div class="mbr-white col-lg-6 col-md-12 card1">
                <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
                </div>
                <h1 class="mbr-section-title mbr-bold align-left mbr-white pb-1 mbr-fonts-style display-2">
                    <div>California
                    </div>
                </h1>
                <p class="mbr-text align-left pb-4 mbr-fonts-style display-7">78 Toplu Sokak <br>Manhattan <br>Kingston <br>Birleşik Devlet</p>
            </div>
            <div class="mbr-white col-lg-6 col-md-12 card2">
                <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
                </div>
                <h1 class="mbr-section-title mbr-bold align-left mbr-white pb-1 mbr-fonts-style display-2">
                    <div>London
                    </div>
                </h1>
                <p class="mbr-text align-left pb-4 mbr-fonts-style display-7">34 İkinci Sokak <br>King Street <br>Kingston <br>İngiltere</p>
            </div>
        </div>
    </div>
</section>
-->
{% include "popular_tour.jinja2" %}

<section class="content4 cid-rccOBDAv9C" id="content4-6">
    <div class="container">
        <img src="{{request.static_url('localguide:static/assets/images/background2.jpg')}}" title="" alt="">
        <h3 class="mbr-image-title pb-2 mbr-fonts-style mbr-normal display-4">Travel is a continuous adventure, where there is no place for worries about everyday life.</h3>
        <h2 class="mbr-section-title pb-2 mbr-fonts-style mbr-bold display-5">Day 1</h2>
        <div class="row">
            <div class="col-md-12">
                <p class="mbr-text mbr-fonts-style display-7">
				While you are traveling without a guide or group, you fully control where and how to spend your time. It's so wonderful to do, what you want. Is not it? Travel gives you an excellent excuse to discover and explore new interests in yourself. Traveling is a great way to meet new people. If you are from the category of tourists, it is often very easy to find groups of people who follow the same route as you.
				</p>
            </div>
        </div>
    </div>
</section>
<!--
<section class="video1 cid-rccOILF8Fj" data-bg-video="https://www.youtube.com/watch?v=JPe2mwq96cw" id="video1-7">
    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
    </div>
</section>
-->

<section class="features7 cid-rccOYswFTn" id="features7-a">    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mbr-section-title title pb-2 mb-1 mbr-bold mbr-fonts-style align-left display-5">Related Tours</h2>
            </div>
        </div>
        <div class="row row-content justify-content-center">
            <div class="card p-3 col-12 col-md-12">
                <div class="row card-wrapper">
                    <div class=" col-md-4 card-img">
                        <div class="price-box">
                            <h5 class="price mbr-fonts-style mbr-bold display-4">$5,000</h5>
                        </div>
                        <img src="{{request.static_url('localguide:static/assets/images/01.jpg')}}" title="">
                    </div>
                    <div class="card-box col-md-8">
                        <h4 class="card-title mbr-fonts-style pb-1 mbr-bold display-5">China Autumn</h4>
                        <p class="mbr-text mbr-fonts-style mbr-normal display-4">
                        Travel is a continuous adventure, where there is no place for worries about everyday life, anxious thoughts about the past and the future. It is an opportunity to live every moment. You can be happy regardless of age and life circumstances.    
						</p>

                        <div class="ico-line line-box">
                            <div class="ico-line">
                                <div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
                                <div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
                                <div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
                                <div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
                                <div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
                                <h3 class="rev mbr-fonts-style mbr-bold display-4">4 reviews</h3>
                            </div>

                            <div class="ico-line px-4">
                                <div class="mbr-iconfont mbr-iconfont-social mbri-clock" style="color: rgb(0, 0, 0); fill: rgb(0, 0, 0);" media-simple="true"></div>
                                <h3 class="rev pl-2 mbr-fonts-style mbr-bold display-4">5 days</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features4 counters cid-rccP2OKVqE" id="features4-b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mbr-section-title pb-3 mbr-bold mbr-fonts-style align-left display-1">This trip will be the best</h2>

                <p class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style align-left display-4">S
				Travel should be an integral part of every person's life. In each trip, you can make new acquaintances, new friends, business partners. Thanks to travel, you grow up, go to a new level of your personal development.
				<br></p>
                <div class="media-container-row">
                    <div class="card p-3 col-12 col-md-6 border-r">                        
                        <div class="card-box">
                            <h4 class="count card-title mbr-fonts-style mbr-white mbr-normal align-center display-1">942</h4>
                            <p class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-4">
                                Trips</p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 border-r">                        
                        <div class="card-box">
                            <h4 class="count card-title mbr-fonts-style mbr-white mbr-normal align-center display-1">1476</h4>
                            <p class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-4">Happy Customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form2 cid-rccP5jr1mU" id="form2-c">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12 align-left card" data-form-type="formoid">
                <div data-form-alert="" hidden="">Get In Touch With Us!</div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" name="email" data-form-email="true" value="gbEjPUpE9TlSyfGJqFqs+xOeVkoqUToPYF0eCXm2xwm56T9S/zQg7bQvW5XoiJ74+PX2w9FAtRk6/Oyhba6/x8WfzlOod3tajc16+A7An27Wk0yZ3pTt8s7KLa7A7wI/">
                    <div class="row row-sm-offset">
                        <div class="col-md-12 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <h4 class="mbr-fonts-style pb-2 mbr-bold form-title display-4"><p>
                                    Full Name</p></h4>
                                <input type="text" class="form-control" name="name" placeholder="Your name" data-form-field="Name" required="" id="name-form2-c">
                            </div>
                        </div>
                        <div class="col-md-12 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Email Address</h4>
                                <input type="email" class="form-control" name="email" placeholder="Email Address" data-form-field="Email" required="" id="email-form2-c">
                            </div>
                        </div>
                        <div class="col-md-12 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Phone Number</h4>
                                <input type="tel" class="form-control" name="phone" placeholder="Your Phone" data-form-field="Phone" id="phone-form2-c">
                            </div>
                        </div>
                        <div class="col-md-12 multi-horizontal" data-for="interested">
                            <div class="form-group">
                                <h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Interested In</h4>
                                <input type="tel" class="form-control" name="interested" data-form-field="Interes" placeholder="Interests in travel" id="interested-form2-c">
                            </div>
                        </div>
                        <div class="col-md-12 multi-horizontal" data-for="person">
                            <div class="form-group">
                                <h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Number of Person</h4>
                                <input type="tel" class="form-control" name="person" placeholder="Kaç kişi seyahat edecek" data-form-field="How many people will travel" id="person-form2-c">
                            </div>
                        </div>
                    </div>
                    <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-primary display-4">Send Message<br></button></span>
                </form>
            </div>
        </div>
    </div>
</section>

{% include "../common/footer.jinja2" %}
<script type="text/javascript">

    /* List Random Tour  */
	const randomTour = new Vue({
        delimiters: ['${', '}'],
		el: '#randomTour',
		data: {
			tours: [],
			count: '',
		},
		created() {
			this.getRandomTour()
            this.timer = setInterval(this.getRandomTour, 300000)
		},
		methods: {			
			getRandomTour() {
				axios({
					method: 'GET',
					url: URL + 'tour/getRandomTour',
					config: { headers: {'Content-Type': 'application/json; charset=utf-8' }}
				})
				.then(response => {
					this.tours = response.data
					this.count = response.data.length
				})
				.catch(function (response) {
					//handle error
					console.log(response);
				});
			},
			tourDetail(id, uid) {
				url = "../tour/detail?id=" + id + '&hash=' + uid;
				location.href = url				
			},
		}
	});

</script>
</body>
</html>