<section class="team1 cid-rccxzpxWWr" id="randomUser">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mbr-section-title pb-4 mbr-bold mbr-fonts-style align-left display-2">Our Guide</h2>
            </div>
        </div>
        <div class="row row-content justify-content-center" v-if="count < 2">
			{% include "../common/dummy_guide.jinja2" %}
        </div>
		<div class="row row-content justify-content-center" v-else>
			<div class="card p-3 col-md-3" v-for="user in users">
				<div class="card-img">
					<img v-if="user.avatar" :src="'{{request.static_url('localguide:static/assets/user_images/guide/')}}'+user.uid+'/'+user.avatar" @click="guideProfile(user.id, user.uid)" alt="localguide avatar" style="cursor: pointer;">
					<img v-else name="avatar" src="{{request.static_url('localguide:static/assets/images/noimage.jpg')}}" style="cursor: pointer;" alt="No image">						
					<!--
					<div class="ico-wrap">
						<div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
						<div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
						<div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
						<div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
					</div>
					-->
				</div>
				<div class="card-box">
					<h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">${user.fullname}</h4>
					<p class="mbr-text mbr-fonts-style mbr-bold display-4">${user.job}</p>
				</div>				
			</div>
        </div>
    </div>
</section>

