{% extends "layout.jinja2" %}
{% block content %}
<div class="content" style="text-align:center;padding-top:150px;">
  <h1><span class="font-semi-bold">The page you are looking for might have been removed.</span></h1>
  <h2>Would you like to go home?</h2>
  <p class="lead">404 Page Not Found</p>
  <button onclick="location.href='/'" style="">GO HOME</button>
</div>
{% endblock content %}
