<!DOCTYPE html>
<html >
<head>
    {% include "../common/header.jinja2" %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{request.static_url('localguide:static/adassets/css/style.css')}}">
	<style>
		/*body {
			margin-bottom: 40px;
			margin-top: 40px;
			text-align: center;
			font-size: 14px;
			font-family: 'Roboto', sans-serif;
			background:url(http://www.digiphotohub.com/wp-content/uploads/2015/09/bigstock-Abstract-Blurred-Background-Of-92820527.jpg);
		}*/
			
		#wrap {
			width: 1100px;
			margin: 0 auto;
			}
			
		#external-events {
			float: left;
			width: 150px;
			padding: 0 10px;
			text-align: left;
			}
			
		#external-events h4 {
			font-size: 16px;
			margin-top: 0;
			padding-top: 1em;
			}
			
		.external-event { 
			margin: 10px 0;
			padding: 2px 4px;
			background: #3366CC;
			color: #fff;
			font-size: .85em;
			cursor: pointer;
			}
			
		#external-events p {
			margin: 1.5em 0;
			font-size: 11px;
			color: #666;
			}
			
		#external-events p input {
			margin: 0;
			vertical-align: middle;
			}
		
		#calendar {
			/*float: right; */
			margin: 0 auto;
			width: 700px;
			background-color: #FFFFFF;
			border-radius: 6px;
			box-shadow: 0 1px 2px #C3C3C3;
			-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
			-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
			box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
		}
		.modal-lg {
			max-width:750px;
		}
	</style>
</head>
<body>
{% include "../common/navbar_default.jinja2" %}

<div class="container" style="padding-top:150px; padding-bottom:200px">
	{% block content %}{% endblock %}
</div>

{% include "../common/footer.jinja2" %}
<script src="{{request.static_url('localguide:static/adassets/js/calendar.js')}}"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://unpkg.com/vue-stripe-checkout@1.2.6/build/vue-stripe-checkout.js"></script>

<script type="text/javascript">
	Vue.use(VeeValidate);
	Vue.use(bootstrapVue);
	Vue.use(VueStripeCheckout, 'pk_test_5BV29MJdeaXwC6UpVHeY8uQM00VTvLqATm');
    
	/* Tour Detail  */
	const tourDetail = new Vue({
        delimiters: ['${', '}'],
		el: '#tourDetail',
		data: {
            photos: [],
            countries: [],
            tour: {
                id: "{{tour.Tour.id}}",
                uid: "{{tour.Tour.uid}}"
            },
		},
        created() {
            //this.getPhoto()
        },
		methods: {			
            getPhoto() {
                axios.get(URL + 'static/user_images/guide/' + this.tour.uid + '/' + this.tour.id + '/photo.json').then(response => {    
					this.photos = response.data.images
				})
                
			},
            userProfile(id, uid) {
                url = "../user/profile?id=" + id + '&hash=' + uid;
				location.href = url				
			},
		}
	});

	/* Tour Book  */
	const tourBook = new Vue({
        delimiters: ['${', '}'],
		el: '#tourBook',
		data() {
			return {
				status: 'Closed',
				tokenFromPromise: {},
				//tokenFromEvent: {},
				image: '../static/images/logo.png',
				name: '{{tour.Tour.title}}',
				email: '',
				description: 'Localguide secured payment',
				locale:'auto',
				currency: 'USD',
				price: parseInt("{{tour.Tour.price}}"+'00',10),
				panelLabel: 'Pay',
				name_card: '',
				phone: '',
			}
		},
		methods: {			
			processForm() {
				//evt.preventDefault()
				this.$validator.validateAll().then((result) => {
					if (result) {
						//validation passed succesfully
						this.name_card = this.$refs['name_card'].value;
						this.phone = this.$refs['phone'].value;					
						this.checkout()
					}
				});
			},
			async checkout () {
          		this.tokenFromPromise = await this.$refs.checkoutRef.open();
        	},
			done(token) {
				//this.tokenFromEvent = token;
				axios({
					method: 'POST',
					url: URL + 'tour/charge',
					data: { id:"{{tour.Tour.id}}",uid:"{{tour.Tour.uid}}", stripeToken:token.token.id, stripeEmail:token.token.email, name_card:this.name_card, phone:this.phone,
						  currency:this.currency},
					config: { headers: {'Content-Type': 'application/json; charset=utf-8' }}
				})
				.then(function (response) {
					//handle success
					if (response.status == '200' && response.statusText == 'OK') {
						console.log(response.data)
						if(response.data == 'succeeded') {
							tourBook.showModal()
						}
					}
				})
				.catch(function (response) {
					//handle error
					console.log(response);
				});
				
			},
        	opened() {
          		this.status = 'Opened';
        	},
        	closed() {
          		this.status = 'Closed';
        	},
        	//submit(token) {
          	//	console.log('token', token);
          	//	console.log('Submit this token to your server to perform a stripe charge, or subscription.');
        	//},
			showModal () {
				this.$refs.myModalRef.show()
			},
			hideModal () {
				this.$refs.myModalRef.hide();
				window.location = URL;
			},
      	}
	});    
</script>

<script>
	$(document).ready(function() {
	    var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		/*  className colors
		className: default(transparent), important(red), chill(pink), success(green), info(blue)
		*/		
		
		/* initialize the external events
		-----------------------------------------------------------------*/
		/*
		$('#external-events div.external-event').each(function() {
		
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			
		});
		*/
		/* initialize the calendar
		-----------------------------------------------------------------*/	
		var calendar =  $('#calendar').fullCalendar({
			header: {
				left: 'title',
				center: 'agendaWeek,month',
				//center: 'agendaDay,agendaWeek,month',
				right: 'prev,next today'
			},
			editable: false,
			firstDay: 0, // 1(Monday) this can be changed to 0(Sunday) for the USA system
			selectable: false,
			defaultView: 'month',
			
			axisFormat: 'h:mm',
			columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'   // Tuesday, Sep 8, 2009
            },
			allDaySlot: false,
			selectHelper: true,
			
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false,
					className: 'info'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false,
					className: 'info'
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false,
					className: 'important'
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false,
					className: 'important'
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false,
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'https://ccp.cloudaccess.net/aff.php?aff=5188',
					className: 'success'
				}
			],			
		});	
	});
</script>

</body>
</html>


