<!DOCTYPE html>
<html >
<head>
    {% include "../common/header.jinja2" %}
    <title>Send Approve</title>
	<link rel="stylesheet" href="{{request.static_url('localguide:static/assets/theme/css/sidebar.css')}}">
</head>
<body>
{% include "../common/navbar_default.jinja2" %}

<div class="container" style="padding-top:150px; padding-bottom:200px">
	<div class="row">
        <div class="col-md-3">
			{% include "../common/sidebar.jinja2" %}
		</div>
		<div class="col">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>

{% include "../common/footer.jinja2" %}
<script src="{{request.static_url('localguide:static/assets/js/common.js')}}"></script>
<script type="text/javascript">
	Vue.use(VeeValidate);
	//Vue.use(bootstrapVue);
		
	/* Send Approve */
	const becomeGuide = new Vue({
		delimiters: ['${', '}'],
		el: '#becomeGuide',
		validator: null,
		data: {
			message: '',
			approve: {
				content: '',
			},
		},
		methods: {
			sendRequest(evt) {
				evt.preventDefault()
				//attempt validating all
                this.$validator.validateAll().then((result) => {
                    if (result) {
						//validation passed succesfully
						axios({
							method: 'POST',
							url: URL + 'approve/sendRequestBecomeGuide',
							data: this.approve,
							config: { headers: {'Content-Type': 'application/json; charset=utf-8' }}
						})
						.then( (response) => {
							//handle success. Check at client is good
							if(response.data == 'NG') {
								this.message = 'Your request was send to admin. Please waiting for admin approve'
							} else {
								alert('Send successfull!!')
							}
						})
						.catch( (response) => {
							//handle error
						});
                    }
                });
			},
			back() {
				window.history.back();
			},    
		}	
	});

</script>
</body>
</html>