<div class="mbr-testimonial p-1 align-center col-12 col-md-6 col-lg-4">
    <div class="panel-item p-1">
        <div class="card-block">
            <div class="testimonial-photo">
                <a href="/guide/profile"><img src="{{request.static_url('localguide:static/assets/images/face1.jpg')}}"></a>
            </div>
        </div>
        <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                    John Smith
            </div>
            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                Tour guide<br/>
                Live in Tokyo/Japan<br/>
                Can speak English, Japan
            </small>
        </div>
    </div>
</div>

<div class="mbr-testimonial p-1 align-center col-12 col-md-6 col-lg-4">
    <div class="panel-item p-1">
        <div class="card-block">
            <div class="testimonial-photo">
                <img src="{{request.static_url('localguide:static/assets/images/face2.jpg')}}">
            </div>
        </div>
        <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                Maria
            </div>
            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                Tour guide<br/>
                Live in Tokyo/Japan<br/>
                Can speak English, Japan
            </small>
        </div>
    </div>
</div>

<div class="mbr-testimonial p-1 align-center col-12 col-md-6 col-lg-4">
    <div class="panel-item p-1">
        <div class="card-block">
            <div class="testimonial-photo">
                <img src="{{request.static_url('localguide:static/assets/images/face3.jpg')}}">
            </div>
        </div>
        <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                Mac Clause
            </div>
            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                Tour guide<br/>
                Live in Tokyo/Japan<br/>
                Can speak English, Japan
            </small>
        </div>
    </div>
</div>