<div class="card p-3 col-12 col-md-5 col-lg-3">
    <div class="card-wrapper">
        <div class="card-img">
            <img src="{{request.static_url('localguide:static/assets/images/face1.jpg')}}" title="">
            <!--
            <div class="ico-wrap">
                <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
            </div>
            -->
        </div>
        <div class="card-box">
            <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">Mike Tome</h4>
            <p class="mbr-text mbr-fonts-style mbr-bold display-4">Tour guide</p>
        </div>
    </div>
</div>
<div class="card p-3 col-12 col-md-5 col-lg-3">
    <div class="card-wrapper">
        <div class="card-img">
            <img src="{{request.static_url('localguide:static/assets/images/face2.jpg')}}" title="">
            <!--
            <div class="ico-wrap">
                <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
            </div>
            -->
        </div>
        <div class="card-box">
            <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">Jessica Chan</h4>
            <p class="mbr-text mbr-fonts-style mbr-bold display-4">Japan guide</p>
        </div>
    </div>
</div>
<div class="card p-3 col-12 col-md-5 col-lg-3">
    <div class="card-wrapper">
        <div class="card-img">
            <img src="{{request.static_url('localguide:static/assets/images/face3.jpg')}}" title="">
            <!--
            <div class="ico-wrap">
                <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
            </div>
            -->
        </div>
        <div class="card-box">
            <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">Michel Ken</h4>
            <p class="mbr-text mbr-fonts-style mbr-bold display-4">Osaka guide</p>
        </div>
    </div>
</div>
<!--
<div class="card p-3 col-12 col-md-5 col-lg-3">
    <div class="card-wrapper">
        <div class="card-img">
            <img src="{{request.static_url('localguide:static/assets/images/face4.jpg')}}" title="">
            <div class="ico-wrap">
                <div class="mbr-iconfont ico socicon-vkontakte socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-facebook socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
                <div class="mbr-iconfont ico socicon-skype socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);" media-simple="true"></div>
            </div>
        </div>
        <div class="card-box">
            <h4 class="card-title pb-1 mbr-fonts-style mbr-bold display-5">Christina Hardy</h4>
            <p class="mbr-text mbr-fonts-style mbr-bold display-4">Müşteri Desteği</p>
        </div>
    </div>
</div>
-->
