
<!-- include the Vue.js library -->
<!--<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>-->
<script src="{{request.static_url('localguide:static/assets/js/vue.js')}}"></script>    
<!-- include the VeeValidate library -->
<!--<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>-->
<script src="{{request.static_url('localguide:static/assets/js/vee-validate.js')}}"></script> 

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="{{request.static_url('localguide:static/assets/js/axios.js')}}"></script> 

<!-- Add this after vue.js -->
<!--<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>-->
<script src="{{request.static_url('localguide:static/assets/js/polyfill.js')}}"></script> 

<!--<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>-->
<script src="{{request.static_url('localguide:static/assets/js/bootstrap-vue.js')}}"></script>


