<!-- 4.2.1 -->
<link rel="stylesheet" href="{{request.static_url('localguide:static/assets/bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{request.static_url('localguide:static/assets/theme/css/login_signup.css')}}">
<!--<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->
<link rel="stylesheet" href="{{request.static_url('localguide:static/assets/bootstrap/css/bootstrap-vue.css')}}">




