<section class="header3 cid-rccOsgpYLH" id="header3-1">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <h1 class="mbr-section-title mbr-bold align-left mbr-white pb-1 mbr-fonts-style display-1">Local guide searching</h1>

        <h3 class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style align-left display-4">It is not where you travel to, it is who you travel with</h3>
        <div class="row justify-content-center align-center">
            <div class="media-container-column col-lg-12 col-md-10 col-sm-12 align-center" data-form-type="formoid">
                <div data-form-alert="" hidden="">Thanks you!</div>
                <form class="mbr-form form-with-styler" action="#" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="fZDOJAltHf31ws4L6UNRlph+IgX00zwAXqYNIqRun6c6KyzTS3av+oB6/syooG4OGzn8hDP+F4XwWtAAr7ouYnsX3dUHZTFEu6zdzWvTUUBiZv8uPzyK808tDuXqirP7">
                    <div class="row row-sm-offset">
                        <div class="relative col-lg-12 col-md-12" data-for="message">
                            <input type="text" class="form-control input" name="message" rows="7" placeholder="Search anything about tour..." data-form-field="Message" id="message-header3-1">
                            <div class="ico">
                                <span class="mbr-iconfont mbri-search"></span>
                            </div>
                        </div>
                        <!--
                        <div class="relative col-lg-3 col-md-6" data-for="name">
                            <div class="form-group">
                                <select type="text" class="form-control" name="type" placeholder="Herhangi Bir Ay" data-form-field="Type" required="" id="type-header3-1">
                                    <option>Any Month</option>
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>
                                </select>
                            </div>
                            <div class="ico">
                                <span class="mbr-iconfont mbri-calendar" style="font-size: 25px;"></span>
                            </div>
                        </div>
                        -->
                        <!--
                        <div class="col-lg-3 col-md-6" data-for="email">
                            <div class="form-group">
                                <select type="text" class="form-control" name="status" placeholder="Tarihe göre sırala" data-form-field="Status" required="" id="status-header3-1">
                                    <option>Sort By Date</option>
                                    <option>Price Low to High</option>
                                    <option>Price High to Low</option>
                                    <option>Sort by Name</option>
                                    <option>Sort by Popularity</option>
                                    <option>Sort by Review Score</option>
                                </select>
                            </div>
                            <div class="ico">
                                <span class="mbr-iconfont mbri-up-down"></span>
                            </div>
                        </div>
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-md btn-form btn-primary display-4">Ara</button></span>
                        -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>