<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sidebar</h3>
        </div>
        <ul class="list-unstyled  components">
            <li>
                {% if role == '0' %}
                    <a href="/user/basic" class="active">Profile (Basic)</a>
                {% else %}     
                    User role {{role}}          
                    <a href="/user/basic" class="active">Profile (Basic)</a>
                    <a href="/user/advance">Profile (Advance)</a>
                    {% if role == '1' %}<a href="/tour/list">Tour List</a>{% endif%}
                    {% if role == '2' %}
                        <a href="/tour/admin_tourlist">Tour List</a>
                        <a href="/user/admin_userlist" class="active">User List</a>
                        <a href="#">Approve</a>
                    {% endif%}
                {% endif %}    
            </li>            
        </ul>
        
        <ul class="list-unstyled CTAs">
            <li>
                <a href="/auth/logout" class="download">Logout</a>
            </li>
            <li>
                <a href="#" class="article">Change password</a>
            </li>
        </ul>
        
    </nav>
</div>