<!-- Term of service modal -->
<div id="">
	<div class="modal fade" id="term_of_servicetModal" tabindex="-1" role="dialog" aria-labelledby="requestModal" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel">Term Of Service</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p class="mbr-text mbr-fonts-style mbr-normal display-7">
						<p>Regarding the Handling of Personal Information</p>
							
						<p>In accordance with our company’s policies regarding the handling of personal information, we will duly protect personal information that is inputted when you utilize our services in accordance with the Act on the Protection of Personal Information and the “Complimentary Rule on Handling Personal Data Transferred from Within the European Union Pursuant to the Adequacy Decision Which Concerns the Act on the Protection of Personal Information” (collectively, the “Personal Information Protection Laws”). Please provide your personal information upon understanding and agreeing to the following terms.</p>
						
						<p>Personal Information that we will acquire</p>
					
						<p>We will acquire the following information for those purposes described in “How we use your personal information,” which purposes include, but are not limited to, providing accommodations in accordance with applicable law, such as preparing the hotel register in accordance with the Private Lodging Business Act, the Inns and Hotels Act, and related laws and regulations (“Accommodation Laws”), as well as to appropriately communicate with guests to provide seamless accommodations. Where required information is not inputted, we may not be able to provide all of the services.</p>
						<p>
						Guest information (including, but not limited to, full name, passport number, address, occupation, nationality, special notes about medical conditions, such as physical disabilities, that are provided by the guest for purposes of receiving seamless accommodations).
						Accommodation information (including, but not limited to, check-in and check-out dates and times, the previous location that the guest stayed at, and the next location that the guest will stay at).
						Contact information (including, but not limited to, telephone and email address)
						</p>
						<p>How we use your personal information</p>
						<p>	
						To communicate with you regarding reserving and checking in to accommodations.<br/>
						To prepare the hotel register as required by the Accommodation Laws.<br/>
						To market and solicit sales for products that we handle.<br/>
						To provide customer support to inquiries received regarding the foregoing services and products.<br/>
						To improve our marketing efforts, services, and products.<br/>
						Providing information to third parties or subcontracting part of our work<br/>
						</p>
						
						<p>During your utilization of our services, which includes the reservation of accommodations that you requested, we will provide the personal information that we acquired, either in paper form or electronically, to those businesses that operate credit card companies, accommodation facilities, private lodging businesses, private lodging management companies, or private lodging agencies, among others, with which we have entered into confidentiality agreements. Additionally, where we receive the prior express consent of a customer, we will be allowed to use the personal information for purposes other than the intended purpose or to provide or disclose the personal information to third parties.</p>
						<p>
						Where we obtained the consent of the customer.<br/>
						Where we are required to disclose based upon laws or regulations.<br/>
						Where it is difficult to obtain the consent of the individual, and it is necessary to protect the life, body, or property of the purchaser.<br/>
						Where governmental agencies, local governments, or public agencies request that we cooperate.<br/>
						Additionally, in order to conduct relevant business activities, we may provide part of the personal information to companies other than ours. We will require the company that we provided the personal information to, to safe keep the information, and we will check on a periodic basis on the status of implementation.<br/>
						Providing information to third parties of related companies<br/>
						</p>
						
						<p>Our company may share personal information with Evolable Asia Corp. and its associated companies such as its subsidiaries (as provided for in paragraph (8) of Article 8 of the Regulation on Terminology, Forms, and Preparation Methods of Financial Statements).</p>
						
						<p>Additionally, in order to achieve our intended use of personal information, we may provide third parties in foreign countries with personal information. In the foregoing situation, we will endeavor to coordinate with the third party to whom we provided the personal information to, so that the third party adequately manages the personal information and abides by the Personal Information Protection Laws.</p>
						
						<p>Acquisition of information from within the European Union</p>
						
						<p>Where we will be provided with personal data from within the European Union based upon the adequacy decision, we will check and record the use that was specified when acquiring the subject personal property, as well as how the personal data was acquired.</p>
						
						<p>Personal information acquired is voluntarily</p>
						
						<p>We acquire personal information that you intend to provide to us, and the registration of personal information is voluntary. Provided however that, reservations of accommodations may not be possible if you decide to not provide part of or all of the information.</p>
						
						<p>Requesting the disclosure of personal information</p>
						
						<p>In regard to personal information that our company has obtained, you have the right to request that we stop the usage of your personal information, that we stop providing third parties with your personal information, that we provide to you notice of the use of your personal information, or that we disclose, correct, add to, or delete your personal information (collectively, the “Disclosure”). If you choose to request the Disclosure of your personal information in writing, please contact us below. Please understanding in advance that, in order to process the Disclosure of your personal information, we will need to first confirm your identity through personal identifying documents. However, for information that we have provided to third parties, please directly contact the affiliated company.</p>
						
						<p>Changes to our Privacy Policy</p>
						
						<p>In accordance with this provision, we have the right to review the operational status of our handling of personal information from time-to-time for reasons including, but not limited to, changes in the law or guidelines, and change this personal information protection policy (In Regard to the Handling of Personal Information) at any time.</p>
						
						<p>Our company’s administrator of personal information and where to inquire about personal information</p>
						
						<p>Localguide Co., Ltd. Personal Information Inquiry Department</p>
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary display-4" type="button" data-dismiss="modal">I Agree</button>
				</div>
			</div>
		</div>
	</div>
</div>