{% extends "layout/layout_post.jinja2" %}

{% block content %}
<!-- Page Wrapper -->
<div id="wrapper">
	{% include "common/sidebar.jinja2" %}
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			{% include "common/top_navbar.jinja2" %}
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Update your post</h1>
					<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#logoutModal">
						<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
					</a>
				</div>
				<!-- Content Row -->
				<div class="row">
					<!-- Area Chart -->
					<div class="col-xl-8 col-lg-8">
						<div class="card shadow mb-4">
							<!-- Card Header - Dropdown -->
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary"></h6>								
								{%if post.status == '0' and post.req_active == '0'%}
									{%if request.user.role == '2'%}
										<span class="tour_status">Post is not active.</span>
									{%else%}
										<span class="tour_status">Post is not active. Please request admin to active</span>
									{%endif%}
								{%elif post.status == '0' and post.req_active == '1'%}	
									<span class="tour_status">Request active was send to admin. Waiting admin accept</span>	
								{%elif post.status == '1'%}	
									<span class="tour_status">Post is active</span>
								{%elif post.status == '2'%}
									<span class="tour_status">Post is disable, can not view at homepage</span>		
								{%elif post.status == '3'%}
									<span class="tour_status">Post was deleted. Admin can restore this tour</span>		
								{%endif%}
								<div class="dropdown no-arrow">
									<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
										<div class="dropdown-header">Dropdown Header:</div>
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
							</div>
							<!-- Card Body -->
							<div class="card-body">																
								<form id="postUpdateForm" method="POST">	
									<div class="row row-sm-offset">
										<div class="col-md-12 multi-horizontal">
											<div class="form-group">
												<label class="font-weight-bold mb-0">Post title</label>
												<input type="text" ref="title" name="title" v-validate="'required|min:20|max:45'" value="{{post.title}}" class="form-control"  :disabled="!isEditing" :class="{view_info: isEditing}"  autofocus="" autocapitalize="off" autocorrect="off">
												<span v-show="errors.has('title')" class="is-error">${errors.first('title')}</span>
											</div>
										</div>
										
										<div class="col-md-12 multi-horizontal">
											<div class="form-group">
												<label class="font-weight-bold mb-0">Post content</label>
												<quill-editor ref="content" name="content" v-model="post.content" v-validate="'required'" :options="editorOption" :disabled="!isEditing" :class="{view_info_quill: !isEditing}"></quill-editor>
											</div>
										</div>
									</div>
									<span class="input-group-btn">	
										{%if request.user.uid == post.uid %}
										<input type="button" @click="isEditing = !isEditing" v-if="!isEditing" class="btn btn-form btn-light display-4" value="Edit">			
										{%endif%}
										{%if request.user.role == '1'%}
											<!--<input type="button" @click="isEditing = !isEditing" v-if="!isEditing" class="btn btn-form btn-light display-4" value="Edit">-->
										{%endif%}
										<input type="button" v-if="!isEditing" class="btn btn-form btn-secondary display-4" @click="back" value="Back">
										
										{%if (post.status == '0' and post.req_active == '0') or post.status == '2' %}
											<input type="button" v-if="!isEditing" class="btn btn-form btn-danger display-4" @click="" value="Delete" data-toggle="modal" data-target="#post_deleteModal">
											<input type="button" v-if="!isEditing" class="btn btn-form btn-danger display-4" @click="" value="Active" data-toggle="modal" data-target="#post_activeModal">
										{%endif%}
										{%if post.status == '0' and post.req_active == '1' and request.user.role == '2' %}
											<input type="button" v-if="!isEditing" class="btn btn-form btn-danger display-4" @click="" value="Active" data-toggle="modal" data-target="#post_activeModal">
										{%endif%}
										{%if post.status == '1' %}
											<input type="button" v-if="!isEditing" class="btn btn-form btn-warning display-4" @click="" value="Disable" data-toggle="modal" data-target="#post_disableModal">
										{%endif%}
										{%if post.status == '2' %}
											<input type="button" v-if="!isEditing" class="btn btn-form btn-warning display-4" @click="" value="Enable" data-toggle="modal" data-target="#post_enableModal">
										{%endif%}
										{%if post.status == '0' and request.user.role == '1' and post.req_active == '0'%}
											<input type="button" v-if="!isEditing" class="btn btn-form btn-warning display-4" @click="" value="Request active" data-toggle="modal" data-target="#post_requestactiveModal">
										{%endif%}
											<input type="button" v-if="isEditing" :disabled="errors.any()" @click="processForm" class="btn btn-form btn-primary display-4" value="Save">
											<input type="button" v-if="isEditing" @click="isEditing = false" class="btn btn-form btn-secondary display-4" value="Cancel">
									</span>									
								</form>
              				</div>
            			</div>
          			</div>
        		</div>
				<!-- Content Row -->			
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		{% include "common/copyright.jinja2" %}
	</div>
	<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

{% include "common/logout_modal.jinja2" %}
{% include "common/post_disable_modal.jinja2" %}
{% include "common/post_delete_modal.jinja2" %}
{% include "common/post_requestactive_modal.jinja2" %}
{% include "common/post_active_modal.jinja2" %}
{% include "common/post_enable_modal.jinja2" %}
{% endblock content %}  

