{% extends "layout/layout_tour.jinja2" %}

{% block content %}
<!-- Page Wrapper -->
<div id="wrapper">
	{% include "common/sidebar.jinja2" %}
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			{% include "common/top_navbar.jinja2" %}
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Upload photo for tour</h1>
					<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#logoutModal">
						<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
					</a>
				</div>
				<!-- Content Row -->
				<div class="row">
					<!-- Area Chart -->
					<div class="col-xl-10 col-lg-10">
						<div class="card shadow mb-4">
							<!-- Card Header - Dropdown -->
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary"></h6>
								<div class="dropdown no-arrow">
									<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
										<div class="dropdown-header">Dropdown Header:</div>
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
							</div>
							<!-- Card Body -->
							<div class="card-body">
								<div class="col-md-12" id="uploadPhoto">
									<div>
										<form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
											<input type="hidden" ref="id" v-model="id">
											<input type="hidden" ref="uid" v-model="uid">
											<h6 class="pb-2 form-title">Please choose and upload photos for this tour.</h6>
											<div class="dropbox">
												<input ref="file" type="file" multiple :name="uploadFieldName" :disabled="isSaving" 
													@change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length" accept="image/*" class="input-file">
												
												<p v-if="isInitial">
													<i aria-hidden="true" class="fa fa-plus"></i> Drag your file(s) here to upload<br> or click to browse
												</p>
												<p v-if="isSaving">
													Uploading ${ fileCount } files...
												</p>
											</div>
										</form>
										<span v-if="isInitial || isSaving">
											<input type="button" class="btn btn-form btn-secondary" @click="goList()" value="Cancel">
										</span>  
									</div>  
									
									<!--SUCCESS-->
									<div v-if="isSuccess">										
										<h6 class="pb-2 form-title">You have uploaded <b>${ num }</b> file(s) successfully.</h6>
										<div style="text-align:center; padding-bottom:10px;">
											<div v-if="num > 3">
												<vueper-slides class="no-shadow" :visible-slides="3" slide-multiple :slide-ratio="1/4" :dragging-distance="70" :arrows="true" :bullets="false">
													<vueper-slide v-for="i in images" :key="i" title="" :image="thumbnailDir+i.fileName"></vueper-slide>
												</vueper-slides>
											</div>
											<div v-else>
												<vueper-slides class="no-shadow" :visible-slides="3" slide-multiple :slide-ratio="1/4" :dragging-distance="70" :arrows="false" :bullets="false">
													<vueper-slide v-for="i in images" :key="i" title="" :image="thumbnailDir+i.fileName"></vueper-slide>
												</vueper-slides>
											</div>
											<!--
											<div class="col-md-12">
												<h6 class="mbr-fonts-style"><small><a href="#" v-for="thumb in 1" @click="showLightbox(thumb.fileName)">View in large mode</a></small></h6>
											</div>
											-->					
											<lightbox id="mylightbox" 
												ref="lightbox"
												:images="images"
												:directory="thumbnailDir"
												:filter="galleryFilter"
												:timeoutDuration="5000"
											/>	
											
										</div>
										<span class="input-group-btn">
											<!--<input type="button" class="btn btn-form btn-primary display-4" @click="reset()" value="Upload again">-->
											<button class="btn btn-form btn-primary display-4" @click="reset()">Upload again</button>
											<button class="btn btn-form btn-primary display-4" @click="setting_calendar()">Setting Calendar</button>
											<button class="btn btn-form btn-secondary display-4" @click="goList()">Cancel</button>
											<!--<input type="button" class="btn btn-form btn-secondary" @click="goList()" value="Cancel">-->
										</span>
									</div>
									<!--FAILED-->
									<div v-if="isFailed">        	
										<h6 class="pb-2 form-title">Uploaded failed. Please try again</h6>
										<span class="input-group-btn">
											<button class="btn btn-form btn-primary display-4" @click="reset()">Upload again</button>
											<button class="btn btn-form btn-primary display-4" @click="setting_calendar()">Setting Calendar</button>
											<button class="btn btn-form btn-secondary display-4" @click="goList()">Cancel</button>
										</span>
										<pre>${ uploadError }</pre>
									</div>
								</div>
							</div>
            			</div>
          			</div>
        		</div>
				<!-- Content Row -->			
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		{% include "common/copyright.jinja2" %}
	</div>
	<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>
{% include "common/logout_modal.jinja2" %}
{% endblock content %}  

