{% extends "layout/layout_user.jinja2" %}

{% block content %}
<!-- Page Wrapper -->
<div id="wrapper">
	{% include "common/sidebar.jinja2" %}
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			{% include "common/top_navbar.jinja2" %}
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- Page Heading -->
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">User list</h1>
					<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#logoutModal">
						<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
					</a>
				</div>
				<!-- Content Row -->
				<div class="row">
					<!-- Area Chart -->
					<div class="col-xl-10 col-lg-10">
						<div class="card shadow mb-4">
							<!-- Card Header - Dropdown -->
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary"></h6>
								<div class="dropdown no-arrow">
									<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
										<div class="dropdown-header">Dropdown Header:</div>
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
							</div>
							<!-- Card Body -->
							<div class="card-body">
								<div class="table-responsive">
									{% if not user %}
										You have not a user. 
									{%else%}
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Fullname</th>
												<th>Email</th>
												<th>Country/City</th>
												<th>Sex</th>
												<th>Status</th>
												<th>Level</th>
												<th>Role</th>
												<th>Last update</th>
											</tr>
										</thead>
										<tbody>
											{% for u in user %}
											<tr>
												<td><a href="detail?id={{u.id}}&uid={{u.uid}}" @click="goEdit( '{{u.id}}', '{{u.uid}}' )" style="cursor: pointer;">{{u.fullname|e}}</a></td>
												<td>{{u.email}}</td>
												<td>{%if u.country == None%}-{%else%}{{u.country}}{%endif%}/{%if u.city == None%}-{%else%}{{u.city}}{%endif%}</td>
												<td>{%if u.sex == '1'%}Male{%else%}Female{%endif%}</td>
												<td>
													{%if u.status == '1'%} 
														Active
													{%elif u.status == '0'%}
														Deactive
													{%endif%}
												</td>
												<td>
													{%if u.level == '0'%} 
														Junior
													{%elif u.level == '1'%}
														Senior
													{%elif u.level == '2'%}
														Professsional	
													{%endif%}
												</td>
												<td>
													{%if u.role == '0'%} 
														User
													{%elif u.role == '1'%}
														Guide
													{%elif u.role == '2'%}
														Admin
													{%endif%}
												</td>
												<td>{{u.mtime}}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									{%endif%}
								</div>
              				</div>
            			</div>
          			</div>
        		</div>
				<!-- Content Row -->			
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		{% include "common/copyright.jinja2" %}
	</div>
	<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

{% include "common/logout_modal.jinja2" %}

{% endblock content %}  

