<!-- Core JavaScript-->
<script src="{{request.static_url('localguide:static/adassets/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{request.static_url('localguide:static/adassets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{request.static_url('localguide:static/adassets/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
<script src="{{request.static_url('localguide:static/adassets/js/sb-admin-2.min.js')}}"></script>
