<!-- Post delete Modal-->
<div id="post_delete">
	<div class="modal fade" id="post_deleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Are you sure DELETE this post?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Delete post will not show in blog</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<button class="btn btn btn-danger" type="button" data-dismiss="modal" @click="post_delete">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>