<!-- Set Role Modal-->
<div id="user_setrole">
	<div class="modal fade" id="user_setroleModal" tabindex="-1" role="dialog" aria-labelledby="DisableModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="">Set Role for User</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					Please choose role to set for user 
					<div class="row">
						<div class="col-md-5">
							<input type="radio" name="role" v-model="user.role" value="0" {%if user.role == '0'%}checked{%endif%}>&nbsp;&nbsp;Temp Tour guide
						</div>
						<div class="col-md-4">
							<input type="radio" name="role" v-model="user.role" value="1" {%if user.role == '1'%}checked{%endif%}>&nbsp;&nbsp;Tour admin
						</div>	
						<div class="col-md-3">
							<input type="radio" name="role" v-model="user.role" value="2" {%if user.role == '2'%}checked{%endif%}>&nbsp;&nbsp;Admin
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<button class="btn btn btn-danger" type="button" data-dismiss="modal" @click="user_setrole">Set Role</button>
				</div>
			</div>
		</div>
	</div>
</div>