{% extends "layout_approve.jinja2" %}

{% block content %}

<h4 class="mbr-fonts-style mbr-bold display-2">
	Approve
	- <small>to become tour guide</small>
</h4>
<section class="form2 cid-rccP5jr1mU" id="becomeGuide">
	<div class="col-md-12 card" style="align-items: center;">
		<p class="mbr-fonts-style pb-1 form-title display-4">
			You are loging as basic user. To become a guide, please update your profile and send request to admin. 
		</p>
	</div>
	<div style="align-items: center;">
		<p class="is-error mbr-fonts-style mbr-bold display-4">
			${message}
		</p>
	</div>
	<div class="col-md-12 card" data-form-type="formoid">
		<form class="mbr-form" data-form-title="Become Guide">
			<input type="hidden" name="email" data-form-email="true" value="gbEjPUpE9TlSyfGJqFqs+xOeVkoqUToPYF0eCXm2xwm56T9S/zQg7bQvW5XoiJ74+PX2w9FAtRk6/Oyhba6/x8WfzlOod3tajc16+A7An27Wk0yZ3pTt8s7KLa7A7wI/">
			<div class="row row-sm-offset">
				<div class="col-md-12 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Approve type</h4>
						<select name="type" class="form-control" disabled>
							<option value='0' selected>Request approve to become a tour guide</option>
							<option value='1'>Request approve to publish a tour</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Reason for become a tour guide</h4>
						<textarea name="content" v-model="approve.content" class="form-control" rows="5" v-validate="'required'" placeholder="Write down a reason that you want to become a tour guide" autocapitalize="off" autocorrect="off"></textarea>
						<span v-show="errors.has('content')" class="is-error">${errors.first('content')}</span>
					</div>
				</div>
			</div>
			<span class="input-group-btn">
				<button @click="sendRequest" class="btn btn-form btn-primary display-4" :disabled="errors.any()">Send request</button>
				<button @click="back" class="btn btn-form btn-secondary display-4">Cancel</button>
			</span>
		</form>
	</div>
</section>

{% endblock content %}
