{% extends "layout_tour.jinja2" %}

{% block content %}

<div class="row">
	<!-- Left panel-->	
	<div class="col-md-8">
		<section class="form2 cid-rccAB2jr1U" style="padding-top:0px;padding-bottom:0px;" id="tourDetail">
			<div class="row">
				<div class="col-md-12">
					<h2>Thanks, you paid </h2>			
				</div>
			</div>
		</section>
	</div>	
</div>


{% endblock content %}
