{% extends "layout_tour.jinja2" %}

{% block content %}
<h4 class="mbr-fonts-style mbr-bold display-2">
	Tour Listing
	- <small>listing all tour</small>
</h4>
<section class="form2 cid-rccOyABpwz" id="tourList">
	<div class="col-md-12 input-group-btn" style="padding-bottom:15px;">
		<button class="btn btn-form btn-primary display-3" onclick="location.href='/tour/create'">New Tour</button>
	</div>
	<div class="col-md-12">
		{% if not tour : %}
			<h5>Sorry, we have not tour in this time.</h5>
		{% else %}
            {% for t in tour %}
				<div class="card-wrapper">
					<div class="row">
						<div class="col-md-6">
							<div class="card-box" style="cursor: pointer;" @click="goEdit( '{{t.id}}', '{{t.uid}}' )">
								<h4 class="card-title mbr-fonts-style pb-1 mbr-bold display-5">{{t.title}}</h4>
								<p class="mbr-text mbr-fonts-style mbr-normal display-4">{{t.type}}</p>
								<div class="ico-line-wrap">
									<div class="ico-line">
										<div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-clock" style="color: rgb(0, 0, 0); fill: rgb(0, 0, 0);" media-simple="true"></div>
										<h3 class="rev mbr-fonts-style mbr-bold display-4">{{t.days}}days / {{t.price}}$</h3>
									</div>
								</div>
								<span class="mbr-text mbr-fonts-style mbr-normal display-4">
									<small>Last update : {{t.mtime}}</small>
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<span class="input-group-btn vertical-center">
								<button class="btn btn-form btn-info display-4">Disable</button>
								<button class="btn btn-form btn-warning display-4" @click="goDelete( '{{t.id}}', '{{t.uid}}' )">Delete</button>
							</span>
						</div>
					</div>
				</div>
				<br>
		 	{% endfor %}				
		{% endif %}
	</div>
</section>

{% endblock content %}