{% extends "layout_front_common.jinja2" %}

{% block content %}

<div class="row">
	<!-- Left panel-->	
	<div class="col-md-8">
		<section class="form2 cid-rccAB2jr1U" style="padding-top:0px;padding-bottom:0px;">
			<div class="row">
				<div class="col-md-12">
					<img name="banner" class="img-fluid rounded" src="{{ request.static_url('localguide:static/assets/user_images/guide/') }}{{tour.Tour.uid}}/{{tour.Tour.banner}}" alt="" style="width:900px;height:300px;">	
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<h4 class="mbr-fonts-style pb-1 pt-3 mbr-bold display-2">{{tour.Tour.title}}</h4>
					<p class="mbr-text mbr-fonts-style mbr-normal display-5">{{tour.Tour.type}}</p>
					<div class="social-list py-1">
						<div class="soc-item">
							<a href="#" target="_blank">
								<div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" media-simple="true"></div>
							</a>
						</div>
						<div class="soc-item">
							<a href="#" target="_blank">
								<div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"  media-simple="true"></div>
							</a>
						</div>
						<div class="soc-item">
							<a href="#" target="_blank">
								<div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"  media-simple="true"></div>
							</a>
						</div>
						<div class="soc-item">
							<a href="#" target="_blank">
								<div class="mbr-iconfont mbr-iconfont-social socicon-skype socicon"  media-simple="true"></div>
							</a>
						</div>
						<div class="soc-item">
							<a href="#" target="_blank">
								<div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" media-simple="true"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 card" style="align-items: center;">
					<div class="card-wrappers">
						<div class="card-img">
							<img src="{{ request.static_url('localguide:static/assets/user_images/guide/') }}{{tour.Tour.uid}}/{{tour.avatar}}" style="cursor: pointer;" alt="">
						</div>
					</div>
					<div class="mbr-author-name mbr-bold mbr-fonts-style display-8">
						{{tour.fullname}}
						<span class="badge badge-warning" alt="professional tour guide">pro</span>
					</div>
				</div>
			</div>
			<hr>			
			<div class="row">
				<div class="col-md-12">
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">DESCRIPTION ABOUT TOUR</h5>
					<span class="card-text mbr-fonts-style display-4">
						{{tour.Tour.content|safe}}
					</span>
				</div>
				<div class="col-md-12">
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">PHOTOS</h5>
					show some photo here
				</div>
				<div class="col-md-12">
					<!-- Related Projects Row -->
					<hr>
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">RELATED TOURS</h5>
					<div class="row">
						<div class="col-md-3 col-sm-6 mb-4">
							<a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
						</div>

						<div class="col-md-3 col-sm-6 mb-4">
							<a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
						</div>

						<div class="col-md-3 col-sm-6 mb-4">
							<a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
						</div>

						<div class="col-md-3 col-sm-6 mb-4">
							<a href="#"><img class="img-fluid" src="http://placehold.it/500x300" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- Right panel -->
	<div class="col-md-4">
		<section class="form2 cid-rccOyRMpwz" style="padding-top:0px;padding-bottom:0px;">
			<div class="row row-content justify-content-center">
				<div class="card book-card col-md-12">
					<div class="card-wrapper">
						<div class="card-img">
							<div class="price-box">
								<h5 class="price mbr-fonts-style mbr-bold display-4">{{tour.Tour.price}}$</h5>
							</div>
							<img class="img-fluid rounded" src="{{request.static_url('localguide:static/assets/images/01.jpg')}}" title="">
						</div>
						<div class="card-box">
							<p class="card-text mbr-fonts-style">
								{{tour.Tour.short_desc}}
								<i class="fa fa-money"></i>{{tour.Tour.price}}$
								<i class="fa fa-calendar"></i>{{tour.Tour.days}} days<br>
								<i class="fa fa-flag"></i>{{tour.Tour.country}}
								<i class="fa fa-building"></i>{{tour.Tour.city}}
								
							</p>
							<div class="ico-line-wrap">
								<div class="ico-line">
									<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
									<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
									<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
									<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
									<div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
									<h3 class="rev mbr-fonts-style mbr-bold display-4">4 reviews</h3>
								</div>
								
							</div>
							<div>
								<span class="input-group-btn" style="align-items: center;">
									<button class="btn btn-form btn-primary btn-lg display-4" style="width:90%">Booking</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</section>
		<section class="form2 cid-rccAB2jr1U">
			<div class="col-md-12 col-lg-12 align-center">
				<i class="fa fa-bug" style="color:red;"></i><h5 class="mbr-fonts-style display-4"><small><a href="#">Report this tour</a></small></h5>
			</div>
		</section>	
	</div>
</div>
{% endblock content %}
