{% extends "layout_tour.jinja2" %}

{% block content %}

<h4 class="mbr-fonts-style mbr-bold display-2">
	Tour Create
	- <small>create new tour</small>
</h4>
<section class="form2 cid-rccP5jr1mU">
	<div class="col-md-12 card" data-form-type="formoid">
		<form id="tourCreateForm" method="POST" class="mbr-form">
			<div class="row row-sm-offset">
				<div class="col-md-6 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-2 mbr-bold form-title display-4">Tour name</h4>
						<input type="text" ref="title" name="title" v-validate="'required|min:20|max:45'" v-model="tour.title" class="form-control"  placeholder="Great Tokyo city Travel"  autofocus="" autocapitalize="off" autocorrect="off">						
						<span v-show="errors.has('title')" class="is-error">${errors.first('title')}</span>
					</div>
				</div>
				<div class="col-md-6 multi-horizontal" >
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Tour type</h4>
						<input type="text" ref="type" name="type" v-validate="'required|min:8'" v-model="tour.type" class="form-control" placeholder="City Tours, Urban"  autocapitalize="off" autocorrect="off">
						<span v-show="errors.has('type')" class="is-error">${errors.first('type')}</span>
					</div>
				</div>
				<div class="col-md-12 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Short description</h4>
						<textarea ref="short_desc" name="short_desc" v-validate="'required|min:20|max:120'" v-model="tour.short_desc" class="form-control" placeholder="Short description about tour"></textarea>
						<span v-show="errors.has('short_desc')" class="is-error">${errors.first('short_desc')}</span>
					</div>
				</div>

				<div class="col-md-6 multi-horizontal" >
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Country</h4>						
						<select ref="country" name="country" v-validate="'required'" v-model="tour.country" @change="onChange" class="form-control">
							<option v-for="country in countries" :value="country.name">
								${country.name}
							</option>
						</select>
						<span v-show="errors.has('country')" class="is-error">${errors.first('country')}</span>
					</div>
				</div>
				<div class="col-md-6 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">City</h4>
						<select ref="city" name="city" v-validate="'required'" v-model="tour.city" class="form-control" >
							<option v-for="option in options" :value="option.value">
								${option.name}
							</option>
						</select>
						<span v-show="errors.has('city')" class="is-error">${errors.first('city')}</span>
					</div>
				</div>
				<div class="col-md-6 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Price (USD)</h4>
						<input type="text" ref="price" name="price" v-validate="'required|numeric|min:2|max:3'" v-model="tour.price" class="form-control" placeholder="300" autocapitalize="off" autocorrect="off">
						<span v-show="errors.has('price')" class="is-error">${errors.first('price')}</span>
					</div>
				</div>
				<div class="col-md-6 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Days</h4>
						<input type="text" ref="days" name="days" v-validate="'required|numeric|min:1|max:2'" v-model="tour.days" class="form-control" placeholder="3" autocapitalize="off" autocorrect="off">
						<span v-show="errors.has('days')" class="is-error">${errors.first('days')}</span>
					</div>
				</div>	
				<div class="col-md-12 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Long describe about your tour</h4>
						<quill-editor ref="content" name="content" v-model="tour.content" v-validate="'required'" :options="editorOption"></quill-editor>
						<span v-show="errors.has('content')" class="is-error">${errors.first('content')}</span>
					</div>
				</div>
				<div class="col-md-12 multi-horizontal">
					<div class="form-group">
						<h4 class="mbr-fonts-style pb-1 mbr-bold form-title display-4">Banner image<small>(900x300)</small></h4>
						<input type="file" ref="file" name="banner" v-validate="'image|ext:jpeg,jpg,png|size:1024'" style="opacity: 1;" accept="image/*">
						<span v-show="errors.has('banner')" class="is-error">${errors.first('banner')}</span><br>
						<small>Please upload image file with extension is png or jpg or jpeg. And image size is not larger than 1MB</small>
					</div>
				</div>
			</div>
			<span class="input-group-btn">
				<button @click="processForm" :disabled="errors.any()" class="btn btn-form btn-primary display-4">Next</button>
				<button @click="back" class="btn btn-form btn-secondary display-4">Cancel</button>
			</span>
		</form>
	</div>
</section>

{% endblock content %}