{% extends "layout_front_common.jinja2" %}

{% block content %}

<div class="row">
	<!-- Left panel-->	
	<div class="col-md-4">
		<section class="form2 cid-rccAB2jr1U" style="padding-top:0px;padding-bottom:0px;">
			<div class="card profile-card">
				<div class="card-img-block">
					<img class="img-fluid rounded" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Card image cap">
				</div>
				<div class="card-body pt-5">
					<img src="https://randomuser.me/api/portraits/men/64.jpg" class="profile" alt="profile-image" />
					<h4 class="card-title pt-3">Michel Joe
						<span class="badge badge-warning">pro</span>
					</h4> 
					<p class="card-text mbr-fonts-style">
						<i class="fa fa-briefcase"></i>Tour guide<br>
						<i class="fa fa-home"></i>Live in Japan<br>
						<i class="fa fa-map-pin"></i>From Ho Chi Minh City, Vietnam<br>
            			<i class="fa fa-venus-mars"></i>Male / 30 years old<br>
						<i class="fa fa-university"></i>Camelon university<br>
						<i class="fa fa-language"></i>English, Japanese, VietNamese<br>
						<i class="fa fa-history"></i>Joined from 2018/06
					</p>
					<hr>
					
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">PHOTOS</h5>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 thumb">
								<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
									data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
									data-target="#image-gallery">
									<img class="img-thumbnail" src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
								</a>
							</div>
							<div class="col-md-4 thumb">
								<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
									data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
									data-target="#image-gallery">
									<img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
								</a>
							</div>

							<div class="col-md-4 thumb">
								<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
									data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
									data-target="#image-gallery">
									<img class="img-thumbnail" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
								</a>
							</div>
						</div>
					</div>

					<hr>
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">SKILLS</h5>
					<button type="button" class="btn btn-light btn-sm skill">city tour</button>
					<button type="button" class="btn btn-light btn-sm skill">treak</button>
					<button type="button" class="btn btn-light btn-sm skill">swim</button>
					<button type="button" class="btn btn-light btn-sm skill">domestic travel</button>
					<hr>
					
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">SPECIALITIES</h5>
					<button type="button" class="btn btn-light btn-sm skill">aaaaa</button>
					<button type="button" class="btn btn-light btn-sm skill">bbbbb</button>
					<button type="button" class="btn btn-light btn-sm skill">ccccc</button>
					<button type="button" class="btn btn-light btn-sm skill">ddddd</button>
					<hr>
					
				</div>
			</div>			
		</section>		
	</div>
	<!-- Right panel-->	
	<div class="col-md-8">
		<section class="form2 cid-rccAB2jr1U" style="padding-top:0px;padding-bottom:0px;">
			<div class="topbar">
				<div class="start">
					<strong><i class="fa fa-suitcase"></i></strong> 
					20 Tours
					<span></span>
				</div>
				<div class="start">
					<strong><i class="fa fa-heart"></i></strong> 
					30 likes
					<span></span>
				</div>
				<div class="start">
					<strong><i class="fa fa-eye"></i></strong> 
					45 reviews
					<span></span>
				</div>
				<div class="start">
					<strong><i class="fa fa-comments"></i></strong> 
					100 commemnts
					<span></span>
				</div>				
			</div>
			
			<div class="card">
				<h5 class="mbr-fonts-style pb-1 pt-3 mbr-bold display-4">EXPERIENCES</h5>
				<p class="card-text">
					Hello there! Looking for an amazing experience in Tokyo? Well, you're in the right place! Let's check out some hidden go-to places for the locals! If I take you on a tour, not only you will savor the freshly grilled Yakitori, but you will see locals drinking after a long day at work, and you will hear locals exchanging thoughts and dreams with the help of alcohol. 
					<br><br>
					And if you're really lucky, you might get to talk to them and ask some of your dying questions! The whole atmosphere is just very different from other countries, and I will guarantee that you will have an amazing tour. I am looking forward to meeting you all! Looking forward to meeting you all!
				</p>
			</div>
		</section>
		<section class="cid-rccOyRMpwz" style="padding-top:0px;padding-bottom:0px;">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<h5 class="mbr-fonts-style pb-1 pt-3 mbr-bold display-4">RELATED TOURS</h5>
					</div>
				</div>
				<div class="row row-content justify-content-center">
					<div class="card p-3 col-12 col-md-6">
						<div class="card-wrapper">
							<div class="card-img">
								<div class="price-box">
									<h5 class="price mbr-fonts-style mbr-bold display-4">$500</h5>
								</div>
								<img src="{{request.static_url('localguide:static/assets/images/01.jpg')}}" title="">
							</div>
							<div class="card-box">
								<h4 class="card-title mbr-fonts-style pb-1 mbr-bold display-5">China Autumn</h4>
								<p class="mbr-text mbr-fonts-style mbr-normal display-4">
									City Tours, Urban</p>
								<div class="ico-line-wrap">
									<div class="ico-line">
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
										<div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
										<h3 class="rev mbr-fonts-style mbr-bold display-4">4 reviews</h3>
									</div>
									<div class="ico-line">
										<div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-clock" style="color: rgb(0, 0, 0); fill: rgb(0, 0, 0);" media-simple="true"></div>
										<h3 class="rev mbr-fonts-style mbr-bold display-4">5 days</h3>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card p-3 col-12 col-md-6">
						<div class="card-wrapper">
							<div class="card-img">
								<div class="price-box">
									<h5 class="price mbr-fonts-style mbr-bold display-4">$400</h5>
								</div>
								<img src="{{request.static_url('localguide:static/assets/images/02.jpg')}}" title="">
							</div>
							<div class="card-box">
								<h4 class="card-title mbr-fonts-style pb-1 mbr-bold display-5">Great Britain Travel</h4>
								<p class="mbr-text mbr-fonts-style mbr-normal display-4">
									City Tours, Historic, Park</p>
								<div class="ico-line-wrap">
									<div class="ico-line">
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(30, 198, 182); fill: rgb(30, 198, 182);" media-simple="true"></div>
										<div class="px-1 pb-3 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
										<div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-star" style="color: rgb(158, 158, 158); fill: rgb(158, 158, 158);" media-simple="true"></div>
										<h3 class="rev mbr-fonts-style mbr-bold display-4">3 reviews</h3>
									</div>
									<div class="ico-line">
										<div class="px-1 pb-3 pr-2 mbr-iconfont mbr-iconfont-social mbri-clock" style="color: rgb(0, 0, 0); fill: rgb(0, 0, 0);" media-simple="true"></div>
										<h3 class="rev mbr-fonts-style mbr-bold display-4">4 days</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 form2" style="padding-top:15px; padding-bottom:15px; align-items:right;">
					<span class="input-group-btn">
						<button class="btn btn-form btn-primary display-3">All Tour</button>
					</span>
				</div>
			</div>
		</section>
	</div>			
</div>

{% endblock content %}
