{% extends "layout_user_profile.jinja2" %}

{% block content %}

<div class="row">
	<!-- Left panel-->	
	<div class="col-md-4">
		<section class="form2 cid-rccAB2jr1U" style="padding-top:0px;padding-bottom:0px;">
			<div class="card profile-card">
				<div class="card-img-block">
					<img class="img-fluid rounded" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Card image cap">
				</div>
				<div class="card-body pt-5">
					<img src="{{request.static_url('localguide:static/assets/user_images/guide/')}}{{user.uid}}/{{user.avatar}}" class="profile" alt="profile-image" />
					<h4 class="card-title pt-3">{{user.fullname}}
						<span class="badge badge-warning">pro</span>
					</h4> 
					<p class="card-text mbr-fonts-style">
						<i class="fa fa-briefcase"></i>{{user.job}}<br>
						<i class="fa fa-home"></i>Live in {{user.country}}<br>
						<i class="fa fa-map-pin"></i>From {{user.city}}<br>
            			<i class="fa fa-venus-mars"></i>{% if user.sex == '1' %}Male{%else%}Female{%endif%} / {{user.age}} years old<br>
						<i class="fa fa-university"></i>{{user.education}}<br>
						<i class="fa fa-language"></i>{{user.language}}<br>
						<i class="fa fa-history"></i>Joined from {{user.ctime}}
					</p>
					<hr>
					
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">PHOTOS</h5>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 thumb">
								<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
									data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
									data-target="#image-gallery">
									<img class="img-thumbnail" src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
								</a>
							</div>
							<div class="col-md-4 thumb">
								<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
									data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
									data-target="#image-gallery">
									<img class="img-thumbnail" src="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
								</a>
							</div>

							<div class="col-md-4 thumb">
								<a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
									data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
									data-target="#image-gallery">
									<img class="img-thumbnail" src="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Another alt text">
								</a>
							</div>
						</div>
					</div>

					<hr>
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">SKILLS</h5>
					{% for item in user.skill.split(',') %}						
						<button type="button" class="btn btn-light btn-sm skill">{{item}}</button>
					{%endfor%}
					<hr>					
					<h5 class="mbr-fonts-style pb-1 pt-1 mbr-bold display-4">SPECIALITIES</h5>
					{% for item in user.specialities.split(',') %}						
						<button type="button" class="btn btn-light btn-sm skill">{{item}}</button>
					{%endfor%}
					<hr>
					
				</div>
			</div>			
		</section>
	</div>
	<!-- Right panel-->	
	<div class="col-md-8">
		<section class="form2 cid-rccAB2jr1U" style="padding-top:0px;padding-bottom:0px;">
			<div class="topbar">
				<div class="start">
					<strong><i class="fa fa-suitcase"></i></strong> 
					20 Tours
					<span></span>
				</div>
				<div class="start">
					<strong><i class="fa fa-heart"></i></strong> 
					30 likes
					<span></span>
				</div>
				<div class="start">
					<strong><i class="fa fa-eye"></i></strong> 
					45 reviews
					<span></span>
				</div>
				<div class="start">
					<strong><i class="fa fa-comments"></i></strong> 
					100 commemnts
					<span></span>
				</div>				
			</div>
			
			<div class="card">
				<h5 class="mbr-fonts-style pb-1 pt-3 mbr-bold display-4">EXPERIENCES</h5>
				<span class="card-text">
					{{ user.experience.replace("\\'","'")|safe}}
				</span>
			</div>
		</section>
		{% include "../tour/related_tour.jinja2" %}
		
	</div>			
</div>

{% endblock content %}
